* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

.topnav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 0 15px;
}

.topnav h2 {
    color: #ffffff;
}

.topnav .menu-icon {
    color: #fff;
    font-size: 30px;
}

.topnav .menu-icon:hover {
    color: goldenrod;
}

.topnav .social-links i{
    color: #fff;
    margin: 0 0.188rem;
    transition: 0.5s;
}

.topnav .social-links i:hover{
    color: goldenrod;
    transform: rotate(360deg) scale(2);
}

.topnav .navbar {
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    background-color: rgba(0 , 0, 0, 0.8);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: none;
    transform: 0.5s;
    z-index: 1;
}

.topnav .navbar li {
    padding: 8px 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav .navbar li:last-child{
    border: 0;
}

.topnav .navbar li a{
    color: #fff;
}

.topnav .navbar li:hover a{
    color: goldenrod;
}

@media (min-width: 900px) {
    .navbar {
        display: none;
    }
    .topnav {
        display: none;
    }
}

/* Main section and sidebar */

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), 
                url(../images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar .profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid #444;
    object-fit: contain;
    box-sizing: 5px 7px 15px rgba(0,0,0.2);
}

.sidebar h2 {
    margin: 15px 0;
    color: #fff;
    font-size: 22px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin: 7px 0;
}

.sidebar ul li a{
    color: #fff;
    transition: 0.5s;
    position: relative;
    transform: scale(2);
}

.sidebar .nav a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 3px;
    background-color: goldenrod;
    transition: 0.5s;
}

.sidebar .nav a:hover:after{
    width: 100%;
}

.sidebar .social i{
    color: #fff;
    margin: 8px;
    transition: 0.5s;
    font-size: 20px;
}

.sidebar .social i:hover{
    color: goldenrod;
    margin: 5px;
    transform: rotate(360deg) scale(2);
}

/* DASHBOARD CONTENT */
.dashboard-content {
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    max-width: 900px;
    min-height: 100vh;
    padding: 15px;
}

.sub-heading {
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.divider {
    width: 80px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.sub-para {
    color: (255, 255, 255);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-top: 15px;
}

.dashboard-content .about-col {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.dashboard-content .about-col .img-col {
    flex-basis: 35%;
    text-align: center;
}

.dashboard-content .about-col img{
    width: 200px;
    height: 200px;
    border: 4px solid goldenrod;
    border: 7px solid ;
    object-fit: contain;
}


.dashboard-content .about-col .img-col img {
    border-radius: 15px;
    border: 4px solid goldenrod;
}

.dashboard-content .about-col .info-col {
    flex-basis: 70%;
}

.dashboard-content .about-col .info-col h2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

.dashboard-content .about-col .info-col p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}

.dashboard-content .about-col .info-col .icon-list-col {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.dashboard-content .about-col .info-col .icon-list-col .icon-list ul li {
    list-style: flex;
    margin: 15px 0;
}

.dashboard-content .about-col .info-col .icon-list-col .icon-list ul li i{
    color: rgb(255, 255, 255);
}

.dashboard-content .about-col .info-col .icon-list-col .icon-list ul li strong {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-right: 2px;
}

.dashboard-content .about-col .info-col .icon-list-col .icon-list ul li span {
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-right: 15px;
}

.dashboard-content .btn {
    color: #fff;
    border: 2px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}

.dashboard-content .btn:hover{
    color: #222;
    background-color: goldenrod;
}

/* OPEN BUTTON */
.open {
    display: block !important;
}

/* RESPONSIVE DESIGN */
@media(max-width: 900px) {
    .sidebar {
        display: none;
    }

    .dashboard-content {
        margin-left: 10px;
    }

    .dashboard-content .sub-heading {
        font-size: 40px;
    }
    
}