/* DASHBOARD CONTENT */
.dashboard-content {
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    max-width: 900px;
    min-height: 100vh;
}

.dashboard-content h4 {
    font-size: 24px;
    font-weight: 400;
}

.dashboard-content h1 {
    font-size: 3.5rem;
    margin: 28px;
}

.dashboard-content .btn {
    color: #fff;
    border: 2px solid goldenrod;
    border-radius: 30px;
    padding: 12px 35px;
    margin: 40px 0;
    transition: 0.5s;
}

.dashboard-content .btn:hover{
    color: #222;
    background-color: goldenrod;
}

.dashboard-content .input {
    color: goldenrod;
}

/* OPEN BUTTON */
.open {
    display: block !important;
}

/* RESPONSIVE DESIGN */
@media(max-width: 900px) {
    .sidebar {
        display: none;
    }
    .dashboard-content {
        margin-left: 10px;
    }
    .dashboard-content h1{
        font-size: 2rem;
    }
}